.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #09BEDE;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin-top: 64px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: white;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  color: white;
  background-color: #002D62;
  font-size: x-large;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.loading {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.loader {
  display: block;
  position: absolute;
  height: 100px;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.loaderBox {
  display: block;
  position: absolute;
  top: 50vh;
}

.circle {
  display: inline-block;
  background-color: #00308F;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.75s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}


.waveButton:hover {
  color: white;
  background-color: #0483AD;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: x-large;
  opacity: 1; /* Firefox */
}